<section class="header-blog">
  <div class="header-blog__content">
      <span class="header-blog__title">
        Valette
      </span>
    <div class="header-blog__align">
      <p-inputGroup class="header-blog__inputgroup">
        <p-inputGroupAddon>
            <i class="pi pi-search"></i>
        </p-inputGroupAddon>
        <input
        pInputText
        placeholder="Pesquisar por jogos..." />
      </p-inputGroup>
    </div>
  </div>
</section>

<main class="main-cards">
  <section class="main-cards__posts">
    <app-post-card></app-post-card>
  </section>
</main>

